#path {
    padding: 0 10px 10px;
}

.path-nav {
    cursor: pointer;
    text-decoration: underline;
}

#list {
    padding: 0 10px;
    align-self: start;
}

.dir-name {
    align-self: center;
    cursor: pointer;
    text-decoration: underline;
}

.file-name {
    align-self: center;
}

.dir-menu {
    width: 25px;
    height: 25px;
    align-self: center;
    margin-left: auto;
    cursor: pointer;
}

.file-menu {
    width: 25px;
    height: 25px;
    align-self: center;
    margin-left: auto;
    cursor: pointer;
}

#dir-path {
    padding-bottom: 10px;
}

#move {
    padding: 10px;
    border-radius: 10px;
    min-width: 200px;
}
