.modal {
    align-self: start;
    justify-self: center;
    margin: 10px;
}

@media (min-width: 576px) {
    .modal {
        margin-top: 30px;
    }
}

@media (min-width: 768px) {
    .modal {
        margin-top: 70px;
    }
}

@media (min-width: 992px) {
    .modal {
        margin-top: 110px;
    }
}

@media only screen and (min-width: 1200px) {
    .modal {
        margin-top: 150px;
    }
}
