.toast {
    max-width: 500px;
    padding: 5px 10px;
    line-height: 24px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
}

.toast-info {
    border-color: dodgerblue;
}

.toast-success {
    border-color: green;
}

.toast-warn {
    border-color: darkorange;
}

.toast-error {
    border-color: crimson;
}

.toast-text {
    font-weight: bold;
}

.toast-close {
    float: right;
    margin-left: 10px;
    text-decoration: underline;
    cursor: pointer;
}
